@import url('https://fonts.cdnfonts.com/css/verdana');

// Colours
$brand: #373151;
$grey1: #F4F1F1;
$grey2: #4D4D4D;
$alert: #A72326;
$background: #ffffff;

// Spacing
$spacing-xs: 5px;
$spacing-sm: 10px;
$spacing-md: 15px;
$spacing-lg: 20px;

// Font stack - TODO check 'Veranda' font
$font-stack: 'Veranda', Arial, sans-serif;
